<form>
    <br>
        <label for="bookname">Book Name</label>
        <input type="text" id="bookname" formControlName="bookname" required>
        <br>
        <br>
    
        <label for="Author">Author</label>
        <input type="text" id="Author" formControlName="Author" required>
        <br>
        <br>
      
        <label for="Genre">Genre</label>
        <input type="text" id="Genre" formControlName="Genre" required>
    <br>
    <br>
        <label for="Assigned">Assigned</label>
        <input type="text" id="Assigned" formControlName="Assigned" required>
        <br>
        <br>
    
      
      
        <button type="submit">Submit</button>
      </form>
      
