

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  p {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 30px;
  }
  
  nav {
    text-align: center;
    margin-bottom: 20px;
  }
  
  button.addstudentbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  
  button.addstudentbtn a {
    color: white;
    text-decoration: none;
  }
  
  button.addstudentbtn:hover {
    background-color: #45a049;
  }
  
  button.addstudentbtn:hover a {
    color: white;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    
  }
  
  thead tr {
    background-color: #4CAF50;
    color: white;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  td, th {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    font-weight: bold;
  }
  
  
  thead tr {
    background-color: #FF4081;
  }
  
  button.addstudentbtn {
    background-color: #FF4081;
  }
  
  button.addstudentbtn:hover {
    background-color: #F50057;
  }
  
  .main-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  